@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线流程设计器</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    <script src="~/Scripts/workflowdesign/jquery-1.8.2.js"></script>
    <script src="~/Scripts/workflowdesign/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/workflowdesign/jsPlumb-2.1.0.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="~/Scripts/common.js"></script>
    <style>
        html, body {
            background-color: #bbb;
        }

        .demo {
            touch-action: none;
        }

        .window {
            border: 1px solid #346789;
            box-shadow: 2px 2px 19px #aaa;
            -o-box-shadow: 2px 2px 19px #aaa;
            -webkit-box-shadow: 2px 2px 19px #aaa;
            -moz-box-shadow: 2px 2px 19px #aaa;
            -moz-border-radius: 0.5em;
            border-radius: 0.5em;
            opacity: 0.8;
            width: 60px;
            cursor: pointer;
            text-align: center;
            z-index: 20;
            position: absolute;
            background-color: #eeeeef;
            color: black;
            font-family: helvetica, sans-serif;
            padding-top: 55px;
            font-size: 12px;
            font-weight: bold;
            -webkit-transition: -webkit-box-shadow 0.15s ease-in;
            -moz-transition: -moz-box-shadow 0.15s ease-in;
            -o-transition: -o-box-shadow 0.15s ease-in;
            transition: box-shadow 0.15s ease-in;
            background: transparent url('') no-repeat 10px 5px;
        }


        .flowchart-demo .window:hover {
            box-shadow: 2px 2px 19px #444;
            -o-box-shadow: 2px 2px 19px #444;
            -webkit-box-shadow: 2px 2px 19px #444;
            -moz-box-shadow: 2px 2px 19px #444;
            opacity: 0.6;
        }

        .flowchart-demo .active {
            border: 1px dotted green;
        }

        .flowchart-demo .hover {
            border: 1px dotted red;
        }

        .flowchart-demo .jsplumb-connector {
            z-index: 4;
        }

        .flowchart-demo .jsplumb-endpoint, .endpointTargetLabel, .endpointSourceLabel {
            z-index: 21;
            cursor: pointer;
        }

        .flowchart-demo .aLabel {
            background-color: white;
            padding: 0.4em;
            font: 12px sans-serif;
            color: #444;
            z-index: 21;
            border: 1px dotted gray;
            opacity: 0.8;
            cursor: pointer;
        }

            .flowchart-demo .aLabel.jsplumb-hover {
                background-color: #5C96BC;
                color: white;
                border: 1px solid white;
            }

        .window.jsplumb-connected {
            border: 2px solid green;
        }

        .jsplumb-drag {
            outline: 4px solid pink !important;
        }

        path, .jsplumb-endpoint {
            cursor: pointer;
        }

        .jsplumb-overlay {
            background-color: transparent;
        }

        #canvas {
            width: 1000px;
            height: 600px;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -300px;
            margin-left: -500px;
        }

    </style>
</head>
<body>
    <div class="jtk-demo-main">
        <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
        </div>
    </div>

    <script>
        var definitionId = '@ViewData["DefinitionId"].ToString()';
        var windowWidth = 60;
        var windowHeight = 60;
        var connContext = { Connecting: false, SourceId: '', TargetId: '', AddActivity: false, AddActivityType: '', CurrentSelectedNode: null, };

        var connectorPaintStyle = {
            lineWidth: 4,
            strokeStyle: "#61B7CF", //线条颜色
            joinstyle: "round",
            outlineColor: "white", //线条边框颜色
            outlineWidth: 2
        },

        connectorHoverStyle = {
            lineWidth: 4,
            strokeStyle: "#216477",
            outlineWidth: 2,
            outlineColor: "white"
        },
        endpointHoverStyle = {
            fillStyle: "#216477",
            strokeStyle: "#216477"
        },

        sourceEndpoint = {
            endpoint: "Dot",
            paintStyle: {
                strokeStyle: "#7AB02C",
                fillStyle: "transparent",
                radius: 7,
                lineWidth: 3
            },
            isSource: true,
            connector: "Straight",//["Flowchart", { stub: [40, 60], gap: 10, cornerRadius: 5, alwaysRespectStubs: true }],
            connectorStyle: connectorPaintStyle,
            hoverPaintStyle: endpointHoverStyle,
            connectorHoverStyle: connectorHoverStyle,
            dragOptions: {},
            overlays: [
                ["Label", {
                    location: [0.5, 1.5],
                    label: "Drag",
                    cssClass: "endpointSourceLabel",
                    visible: false
                }]
            ]
        },

        targetEndpoint = {
            endpoint: "Dot",
            paintStyle: { fillStyle: "#7AB02C", radius: 10 },
            hoverPaintStyle: endpointHoverStyle,
            maxConnections: -1,
            dropOptions: { hoverClass: "hover", activeClass: "active" },
            isTarget: true,
            overlays: [
                ["Label", { location: [0.5, -0.5], label: "Drop", cssClass: "endpointTargetLabel", visible: false }]
            ]
        };

        function connNode(sourceId, targetId, instance) {
            var sor = $("#" + sourceId);
            var tar = $("#" + targetId);
            if (sor.length == 0 || tar.length == 0) return;
            var sourcePos = sor.position();
            var targetPos = tar.position();
            var sourceAnchor = "Right";
            var targetAnchor = "Left";
            if ((sourcePos.left + windowWidth) < targetPos.left) {
                if ((sourcePos.top + windowHeight) < targetPos.top) {
                    sourceAnchor = "Bottom";
                    targetAnchor = "Left";
                }
                else if (sourcePos.top > (targetPos.top + windowHeight)) {
                    sourceAnchor = "Right";
                    targetAnchor = "Bottom";
                }
                else {

                }
            }
            else if (sourcePos.left > (targetPos.left + windowWidth)) {
                if ((sourcePos.top + windowHeight) < targetPos.top) {
                    sourceAnchor = "Bottom";
                    targetAnchor = "Right";
                }
                else if (sourcePos.top > (targetPos.top + windowHeight)) {
                    sourceAnchor = "Top";
                    targetAnchor = "Right";
                }
                else {
                    sourceAnchor = "Left";
                    targetAnchor = "Right";
                }
            }
            else {
                if ((sourcePos.top + windowHeight) < targetPos.top) {
                    sourceAnchor = "Bottom";
                    targetAnchor = "Top";
                }
                else if (sourcePos.top > (targetPos.top + windowHeight)) {
                    sourceAnchor = "Top";
                    targetAnchor = "Bottom";
                }
            }
            instance.addEndpoint(sourceId, sourceEndpoint, { anchor: sourceAnchor, uuid: sourceId + sourceAnchor });
            instance.addEndpoint(targetId, targetEndpoint, { anchor: targetAnchor, uuid: targetId + targetAnchor });
            instance.connect({ uuids: [sourceId + sourceAnchor, targetId + targetAnchor], editable: true });
        }

        $(function () {
            foxOne.dataService("/WorkflowDesigner/Get/" + definitionId, {}, function (res) {
                var activities = res.Activities;
                var trans = res.Transitions;
                var html = "";
                $.each(activities, function () {
                    html += "<div class='window jtk-node' style=\"left:" + this.Left + "px;top:" + this.Top + "px;background-image:url('../../images/" + this.Type + ".png')\" id='" + this.Id + "'>" + this.Alias + "</div>"
                });
                $("#canvas").html(html)
                jsPlumb.ready(function () {
                    var instance = window.jsp = jsPlumb.getInstance({
                        DragOptions: { cursor: 'pointer', zIndex: 2000 },
                        ConnectionOverlays: [
                            ["Arrow", {
                                location: 1,
                                visible: true,
                                id: "ARROW",
                                events: {
                                    click: function () { alert("you clicked on the arrow overlay") }
                                }
                            }],
                            ["Label", {
                                location: 0.1,
                                id: "label",
                                cssClass: "aLabel",
                                events: {
                                    tap: function () { alert("hey"); }
                                }
                            }]
                        ],
                        Container: "canvas"
                    });
                    $.each(trans, function () {
                        connNode(this.From, this.To, instance);
                    });
                });
            }, "get", true);
        });


    </script>
</body>

</html>